body {
  padding: 15px 20px;
}
ul {
  list-style-type: none;
  margin: 0 20px;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
}
h1 {
  background: #34495e;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}
h2 {
  background: #95a5a6;
  color: #fff;
  margin: 20px 0;
  padding: 10px 0;
  text-align: center;
}
.command {
  margin: 20px 0;
}
.command:nth-child(even) .btn-primary {
  background: #16A085;
}
.btn-wide {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
